@import '../../App.scss';
@import '../Login/Login.module.scss';

.content_box {
    .error {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 40%;

        img {
            align-self: center;
        }

        p {
            font-weight: 700;
            font-size: 32px;
            line-height: 39px;
            color: $basic-dark-color;
        }
    }
}